

$white: #ffffff;
$ebony-clay:#292f47;
$coral-red:#ff4550;
$half-baked:#87c6d3;
$forest-green:#2db634;
$bazar:#a08487;
$azure:#375ca2;
$yellow:#fefe02;
$sundown:#feaeb0;
$vesuvius:#a1440d;



$oxford-blue:#334453;
$mistic:#dde6eb;
$amaranth:#ec4658;
$bouquet:#b68995;
$hush: #b79854;


$boston-blue:#3a78bd;
$venus:#9b8a92;
$apple:#46af35;
$ebony-clay:#2b2c43;
$half-baked:#87c5d5;